<ion-content padding="true">
<div data-ng-if="(error)" class="assertive text-center">
                {{error}}
            </div>
    <leaflet data-tap-disabled="true" defaults="defaults" markers="trip_markers" center="defaults.center" height="200"></leaflet>
    <div class="list">
        <div class="item">
            <i class="icon ion-person"></i>
            Клиент
                            <span class="item-note">
                              {{trip.client.displayName}}
                            </span>
        </div>
        <div class="item">
            <i class="icon ion-ios-location"></i>
            Адрес
                            <span class="item-note">
                              {{trip.end_address}}
                            </span>
        </div>
        <div class="item" data-ng-if="trip.immediate">
            <i class="icon ion-toggle"></i>
            Срочно
                            <span class="item-note">
                              <label class="toggle">
                                  <input type="checkbox" data-ng-model="trip.immediate" disabled>

                                  <div class="track">
                                      <div class="handle"></div>
                                  </div>
                              </label>
                            </span>
        </div>
        <div class="item">
            <i class="icon ion-pricetag"></i>
            Использовать бонус
                            <span class="item-note">
                              <label class="toggle">
                                  <input type="checkbox" data-ng-model="trip.use_bonus" disabled>

                                  <div class="track">
                                      <div class="handle"></div>
                                  </div>
                              </label>
                            </span>
        </div>
        <div class="item" data-ng-init="dropdowned = false">
            <i class="icon ion-ios-information"></i>
            Допольнительно
                            <span class="item-note">
                              <button class="button button-clear" data-ng-click="dropdowned = !dropdowned"><i
                                      data-ng-class="{'ion-chevron-up': dropdowned, 'ion-chevron-down': !dropdowned }"></i>
                              </button>
                            </span>
            <div data-ng-show="dropdowned" style="margin-top: 30px;">
                <div class="item" data-ng-if="trip.misc_entrace">
                    <i class="icon ion-ios-information"></i>
                    С заездом
                            <span class="item-note">
                              <label class="toggle">
                                  <input type="checkbox" data-ng-model="trip.misc_entrace" disabled>

                                  <div class="track">
                                      <div class="handle"></div>
                                  </div>
                              </label>
                            </span>
                </div>
                <div class="item" data-ng-if="trip.misc_multi_pickup">
                    <i class="icon ion-ios-information"></i>
                    С подсадкой
                            <span class="item-note">
                              <label class="toggle">
                                  <input type="checkbox" data-ng-model="trip.misc_multi_pickup" disabled>

                                  <div class="track">
                                      <div class="handle"></div>
                                  </div>
                              </label>
                            </span>
                </div>
                <div class="item" data-ng-if="trip.misc_on_road">
                    <i class="icon ion-ios-information"></i>
                    Стою на дороге
                            <span class="item-note">
                              <label class="toggle">
                                  <input type="checkbox" data-ng-model="trip.misc_on_road" disabled>

                                  <div class="track">
                                      <div class="handle"></div>
                                  </div>
                              </label>
                            </span>
                </div>
                <div class="item" data-ng-if="trip.misc_single">
                    <i class="icon ion-ios-information"></i>
                    Один пассажир
                            <span class="item-note">
                              <label class="toggle">
                                  <input type="checkbox" data-ng-model="trip.misc_single" disabled>

                                  <div class="track">
                                      <div class="handle"></div>
                                  </div>
                              </label>
                            </span>
                </div>
                <div class="item" data-ng-if="trip.misc_double">
                    <i class="icon ion-ios-information"></i>
                    Два пассажира
                            <span class="item-note">
                              <label class="toggle">
                                  <input type="checkbox" data-ng-model="trip.misc_double" disabled>

                                  <div class="track">
                                      <div class="handle"></div>
                                  </div>
                              </label>
                            </span>
                </div>
                <div class="item" data-ng-if="trip.misc_triple">
                    <i class="icon ion-ios-information"></i>
                    Три пассажира
                            <span class="item-note">
                              <label class="toggle">
                                  <input type="checkbox" data-ng-model="trip.misc_triple" disabled>

                                  <div class="track">
                                      <div class="handle"></div>
                                  </div>
                              </label>
                            </span>
                </div>
            </div>
        </div>
    </div>
    <ion-list>
        <ion-item data-ng-repeat="requester in trip.requests"
                  data-ng-href="#!/trips/{{trip._id + '/' + requester._id}}">
            <img data-ng-if="requester.driver_car.photo_src" ng-src="{{CORE_CONST.REST_URL + 'upload/images/' + requester.driver_car.photo_src}}" width="32" height="32" alt=""/>
            <span>
                {{get.brand(requester.driver_car.car_brand).name}} | {{get.model(requester.driver_car.car_model).name}} | {{get.color(requester.driver_car.car_color).name}}
            </span>
            <strong>{{requester.time}} мин</strong>
            <ion-option-button class="button button-positive" data-ng-click="accept_pickup(requester._id)">
                Принять
            </ion-option-button>
            <ion-option-button class="button button-assertive" ng-click="remove_pickup_request(requester._id)">Не показывать</ion-option-button>
        </ion-item>
    </ion-list>
</ion-content>