<ion-content padding="true">
    <p>Клиент: {{trip.client.displayName}}</p>

    <p>Адрес конца: {{trip.end_address}}</p>

    <p>Цена: {{trip.price}}</p>

    <p>Срочно: {{trip.immediate}}</p>

    <p>Использовать бонус: {{trip.use_bonus}}</p>
    <h1>У вас: {{trip.accepted_request.time}} мин</h1>
    <timer-widget exec-callback="driver_alert" countdown="{{trip.accepted_request.time * 60 * 1000}}" countdown-alert="{{(trip.accepted_request.time) * 60 * 900}}" countdown-alert-class="alert"></timer-widget>
    <hr>
    <button class="button button-positive button-full" ng-click="arrived_trip()">Я приехал, уведомить пассажира</button>
    <button class="button button-assertive button-small button-full">Отменить</button>
</ion-content>