<ion-content padding="true">
    <p>Клиент: {{trip.client.displayName}}</p>

    <p>Адрес конца: {{trip.end_address}}</p>

    <p>Цена: {{trip.price}}</p>

    <p>Срочно: {{trip.immediate}}</p>

    <p>Использовать бонус: {{trip.use_bonus}}</p>
    <h1>У вас: {{trip.accepted_request.time}} мин</h1>
    <div class="wrapper {{get.timer_class(trip.accepted_request.time)}}" data-ng-init="register_timeout(trip.accepted_request.time)">
        <div class="timer-background"></div>
        <div class="timer spinner"></div>
        <div class="timer filler"></div>
        <div class="mask"></div>
    </div>
</ion-content>