<ion-view data-ng-controller="CarsController" data-ng-init="findOne(); ">
    <ion-content>
        <ion-list>
            <ion-item>
                <button class="button button-small" data-ng-click="remove();">Old Delete</button>
                <button class="button button-small" data-ng-click="car.delete(callback);">Delete</button>
                <h4 data-ng-init="car.hello();">{{car.model}}</h4>
            </ion-item>
            <ion-item data-ng-href="#!/carriers/{{car.carrier._id}}">
                <h4>Carrier: {{car.carrier.name}}</h4>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>