<ion-view  data-ng-controller="CreateTripController" view-title="Новый заказ">
    <ion-nav-buttons side="secondary">
        <button class="button" data-ng-click="prepare()">
            <i class="ion ion-android-add"></i> Create
        </button>
    </ion-nav-buttons>
    <ion-content>
            <div data-ng-if="(error)" class="assertive text-center">
                {{error}}
            </div>
            <div class="text-center">
                <ion-spinner icon="ios" data-ng-hide="defaults.location_success"></ion-spinner>
            </div>
            <div data-ng-if="authentication.user.is_client && !authentication.user.trip">
                <leaflet data-tap-disabled="true" defaults="defaults" markers="markers" center="defaults.center" height="150"></leaflet>
                <div class="list list-inset">
                    <label class="item item-input">
                        <i class="icon ion-ios-location"></i>
                        <input type="text" placeholder="Откуда" data-ng-model="preparation.start_address">
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-ios-location"></i>
                        <input type="text" placeholder="Куда" data-ng-model="preparation.end_address">
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-cash"></i>
                        <input type="number" placeholder="Цена" data-ng-model="preparation.price">
                    </label>
                    <div class="item" data-ng-click="init_modal()">
                        <i class="icon ion-ios-gear-outline"></i>
                        Параметры
                            <span class="item-note">
                              <i class="ion ion-ios-arrow-right"></i>
                            </span>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>