<ion-modal-view data-ng-controller="TripHistoryController">
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear" ng-click="cancel_flag_modal()">Cancel</button>
        </div>
        <h1 class="title">Дополнительно</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="close_flag_modal()">Send</button>
        </div>
    </ion-header-bar>
    <ion-content padding="true">
        <textarea data-ng-model="flat_text" cols="30" rows="10"></textarea>
    </ion-content>
</ion-modal-view>
