<ion-view data-ng-controller="TripsController" data-ng-init="find()">
    <ion-nav-buttons side="secondary">
        <button class="button">
            <i class="ion ion-ios-grid-view-outline"></i> Filter
        </button>
    </ion-nav-buttons>
    <ion-content padding="true" class="fill-scroll">
        <div class="button-bar button-bar-small">
            <a class="button button-small" ng-class="{'button-positive': isActive('list-view')}"
               ng-click="setActive('list-view')">
                <i class="ion ion-ios-list-outline"></i>
                List view
            </a>
            <a class="button button-small" ng-class="{'button-positive': isActive('map-view')}"
               ng-click="setActive('map-view')">
                <i class="ion ion-map"></i>
                Map view
            </a>
        </div>
        <div class="text-center">
            <ion-spinner icon="ios" data-ng-hide="trips.$resolved"></ion-spinner>
        </div>
        <div data-ng-show="isActive('list-view')" class="text-center">
            <div data-ng-if="(error)" class="assertive text-center">
                {{error}}
            </div>
            <div class="padding" data-ng-show="trips.$resolved && !trips.length">
                <h3>Нет доступных заказов</h3>
                <img src="img/icons/ic_zero_system_purchases_2x.png"/>
            </div>
            <ion-refresher
                    pulling-text="Pull to refresh..."
                    on-refresh="find()">
            </ion-refresher>
            <ion-list>
                <ion-item class="text-left" data-ng-class="{'active': is_current_driver_request(trip), 'immediate': trip.immediate}"
                          data-ng-repeat="trip in trips track by $index"
                          data-ng-href="#!/{{(authentication.user.is_driver ? 'trips_driver/' : 'trips/') + trip._id}}">
                    {{trip.end_address}} | Цена:{{trip.price}}
                    <span class="badge">{{getDistanceFromLatLonInKm(trip.meet_location.lat, trip.meet_location.lng)}}</span>
                    <ion-option-button data-ng-show="!is_current_driver_request(trip)" class="button-positive" data-ng-click="request_pickup(trip)">
                        Request pickup (10 min)
                    </ion-option-button>
                    <ion-option-button data-ng-show="is_current_driver_request(trip)" class="button-assertive" data-ng-click="cancel_request_pickup(trip)">
                        {{countdown_handler(is_current_driver_request(trip).date_end, 'list')}}<span> <i class="ion ion-android-cancel"></i> </span>Cancel
                    </ion-option-button>
                </ion-item>
            </ion-list>
        </div>

        <map-view data-ng-show="isActive('map-view')" data-tap-disabled="true"></map-view>
    </ion-content>
</ion-view>