<ion-view data-ng-controller="TripsController" data-ng-init="findOne()" cache-view="false"><!--hide-back-button="true"-->
    <ion-nav-buttons side="secondary">
        <div data-ng-if="(authentication.user._id === trip.client._id) && trip && TRIP_STATUS">
            <button data-ng-if="trip.status_code === TRIP_STATUS.INITIALIZED" class="button" data-ng-click="delete_trip()">
                <i class="ion ion-android-delete"></i> Delete
            </button>
            <button data-ng-if="trip.status_code === TRIP_STATUS.ACTIVATED" class="button" data-ng-click="cancel_trip()">
                <i class="ion ion-android-cancel"></i> Cancel
            </button>
            <button data-ng-if="trip.status_code === TRIP_STATUS.ARRIVED" class="button" data-ng-click="met_trip()">
                <i class="ion ion-android-done"></i> Я сел
            </button>
            <a data-ng-if="trip.status_code === TRIP_STATUS.COMPLETED" class="button" data-ng-click="go_main()">
                <i class="ion ion-android-add"></i> New trip
            </a>
            <a data-ng-if="trip.status_code === TRIP_STATUS.CANCELED" class="button" data-ng-click="go_main()">
                <i class="ion ion-android-add"></i> New trip
            </a>
        </div>
    </ion-nav-buttons>
    <div data-ng-if="(trip.$resolved && trip) && (TRIP_STATUS && TRIP_STATUS.$resolved)">
        <div aria-label="INITIALIZED" data-ng-if="trip.status_code === TRIP_STATUS.INITIALIZED">
            <div data-ng-include="'modules/trips/views/status/client-initialized.client.view.html'"></div>
        </div>
        <div aria-label="ACTIVATED" data-ng-if="trip.status_code === TRIP_STATUS.ACTIVATED">
            <div data-ng-include="'modules/trips/views/status/client-activated.client.view.html'"></div>
        </div>
        <div aria-label="ARRIVED" data-ng-if="trip.status_code === TRIP_STATUS.ARRIVED">
            <div data-ng-include="'modules/trips/views/status/client-arrived.client.view.html'"></div>
        </div>
        <div aria-label="MET" data-ng-if="trip.status_code === TRIP_STATUS.MET">
            <div data-ng-include="'modules/trips/views/status/client-met.client.view.html'"></div>
        </div>
        <div aria-label="COMPLETED" data-ng-if="trip.status_code === TRIP_STATUS.COMPLETED">
            <div data-ng-include="'modules/trips/views/status/client-completed.client.view.html'"></div>
        </div>
        <div aria-label="CANCELED" data-ng-if="trip.status_code === TRIP_STATUS.CANCELED">
            <div data-ng-include="'modules/trips/views/status/client-canceled.client.view.html'"></div>
        </div>
    </div>
</ion-view>