body{
	font-family: "Radiance", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.no-overflow{
	max-width: 100%;
}
.pull-left{
	float: left;
}
.pull-right{
	float:right;
}
.left{
	left:0;
}
.right{
	right:0;
}
.fill-scroll > .scroll{
	height: 95%;
}


@font-face{
	font-family:'Radiance';
	src:url("../fonts/Radiance/radiance.eot");
	src:url("../fonts/Radiance/radiance_iefix.eot") format("embedded-opentype"),url("../fonts/Radiance/radiance.woff") format("woff"),url("../fonts/Radiance/radiance.ttf") format("truetype"),url("../fonts/Radiance/radiance.svg#ywftsvg") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Radiance-SemiBold';
	src:url("../fonts/Radiance-Semibold/radiance-semibold.eot");
	src:url("../fonts/Radiance-Semibold/radiance-semibold_iefix.eot") format("embedded-opentype"),url("../fonts/Radiance-Semibold/radiance-semibold.woff") format("woff"),url("../fonts/Radiance-Semibold/radiance-semibold.ttf") format("truetype"),url("../fonts/Radiance-Semibold/radiance-semibold.svg#ywftsvg") format("svg");
	font-weight:normal;
	font-style:normal;
}
.form-horizontal .form-group{
	margin: 0;
}
.full-height {
	height: 100%;
}
.full-height > .scroll{
	height: 100%;
}
.slider{
	height: 100%;
}
.intro-card{
	color: white;
	height: 100%;
}
.bg-orange{
	background-color: #eca403;
}
.bg-blue{
	background-color: #4285f4;
}
.bg-green{
	background-color: #0f9d58;
}
.bg-grey{
	background-color: #898984;
}

/*Toast*/
.ionic_toast_bottom {
	bottom: 50px!important;
}
.spin {
	-webkit-animation-name: spin_animation;
	-webkit-animation-duration: 4000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin_animation;
	-moz-animation-duration: 4000ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin_animation;
	-ms-animation-duration: 4000ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;

	animation-name: spin_animation;
	animation-duration: 4000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@-ms-keyframes spin_animation {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin_animation {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin_animation {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes spin_animation {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}