<div>
    <div class="point-preview-header">
        <span class="left" data-ng-if="currentTrip.use_bonus">
            <i class="ion ion-ios-circle-filled" style="color:blue;"></i> Bonus
        </span>
        <button data-ng-click="prev()" class="button button-small button-clear button-outline">
            <i class="ion ion-ios-arrow-left"></i>
        </button>
        <label class="point-preview-header">Result {{currentTripIndex + 1}} of {{allMarkers.length}}</label>
        <button data-ng-click="next()" class="button button-small button-clear button-outline">
            <i class="ion ion-ios-arrow-right"></i>
        </button>
        <span class="right">
            <i class="ion ion-ios-clock-outline"></i> {{time_in_minutes(currentTrip.created_date)}}
        </span>
    </div>
    <ion-item class="point-preview-content padding" data-ng-click="hideCallback()" data-ng-href="#!/{{(authentication.user.is_driver ? 'trips_driver/' : 'trips/') + currentTrip._id}}">
        <h4><i class="ion ion-ios-location-outline"></i> {{currentTrip.end_address}}
            <span class="pull-right"><i class="ion ion-cash"></i> {{currentTrip.price}}</span>
        </h4>
    </ion-item>
</div>